body{
background:#0b1a33;
color:white;
font-family:Arial;
margin:0;
padding:20px;
}

h1{
text-align:center;
margin-bottom:30px;
}

/* Main layout */
.container{
display:flex;
gap:20px;
}

/* Sidebar */
.sidebar{
width:200px;
background:#12264a;
padding:15px;
border-radius:8px;
}

/* Matches section */
.matches{
flex:1;
}

/* Bet slip */
.betslip{
width:250px;
background:#12264a;
padding:15px;
border-radius:8px;
}

/* Buttons */
button{
background:#2ecc71;
border:none;
padding:10px 15px;
margin:5px;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#27ae60;
}

/* Stake input */
input{
padding:8px;
margin-top:10px;
}
@media (max-width: 768px){

.container{
flex-direction:column;
}

.sidebar{
width:100%;
}

.betslip{
width:100%;
}

  }
